{% extends 'recipe_site/base.html' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <section>
           <div class="about" style="display: flex; align-items: flex-start  ">
                <div style="display: flex; flex-direction: column;  justify-content: center; align-content: center;">
                     <img src="../../static/recipe_site/photo.png"
                          alt="фотография разработчика">

                    <h3>Разработчик финального проекта - Александр Фокин </h3>
                </div>
           </div>
    </section>

{% endblock %}